<div class="container">

    <div class="port-descr" id="descr">
     <h2><%= @image.imgname %></h2>
     <p><%= @image.description %></p>
    </div>

    <div class="port-img">
      <img src="<%= asset_path @image.imgurl %>" />
      <div class="edit">    
        <% if session[:current_user_id] %>
        <p><%= link_to 'Edit', edit_image_path(@image) %></p>
        <p><%= link_to 'Delete', image_path(@image), method: :delete %></p>
        <% end %>
      </div>
    </div>

</div>
