<div class="port-content">
     <div><%= @image.imgname %></div>
     <div><%= @image.category %></div>
     <div><%= @image.tag %></div>
     <div><%= @image.description %></div>
     <div class="port-img"><img src="<%= asset_path @image.imgurl %>" /></div>
</div>
