<h1>Image Show</h1>

   <ul>
     <li><%= @image.imgname %></li>
     <li><%= @image.category %></li>
     <li><%= @image.tag %></li>
     <li><%= @image.description %></li>
     <li><%= @image.imgurl %></li>
     <li><%= image_tag @image.image.url %></li>
   </ul>
